{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Attestation de consultation médicale préalable  à une stérilisation à visée contraceptive
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% set tag = page.courrier %}
<!-- stop head -->
<h2>Attestation de consultation médicale préalable
à une stérilisation à visée contraceptive</h2>
<div class="tailleFont">

  <p>Je soussigné(e) {{ tag.identiteCompleteTitreLongDdn }} certifie :</p>

  <ul>
  <li>avoir sollicité le {{ tag.UtilisateurActif_identiteUsuelleTitre }}, afin qu’il réalise
  sur moi une stérilisation à visée contraceptive pour les raisons dont nous avons
  discuté, ce jour ;</li>

  <li>avoir reçu de sa part une information sur :
  <br>- les différents moyens contraceptifs adaptés à ma situation,
  <br>- la stérilisation : les techniques proposées, les contre-indications éventuelles,
  les risques d’échecs et d’effets indésirables, les conséquences de l’intervention
  et notamment son caractère à priori irréversible ;</li>

<li>avoir reçu un dossier d’information ;</li>

<li>avoir été informé(e) de la nécessité de respecter un délai de 4 mois entre
la présente consultation et la signature du consentement préalable à l’intervention.</li>
</ul>

<p>Le {{ tag.date|date('d/m/Y') }}<br>
{{ tag.identiteUsuelleTitreCourt }}</p>
<!-- signatureIMG -->

</div>
<!-- stop body -->
